[Unit]
Description=Dumps the sql database
Wants=dump-sql.timer

[Service]
User=webapp
Type=oneshot
ExecStart=/home/webapp/dump-sql.sh

[Install]
WantedBy=multi-user.target