[Unit]
Description=Encrypt deamon for the CA folder

[Service]
User=backupr
ExecStart=/opt/backup/encryptd.sh /opt/backup/encrypt /opt/CA /opt/backup/enc/CA /opt/backup/tmp/CA aes-256-cbc /opt/backup/aes-256.key
Restart=on-failure
StandardOutput=journal
StandardError=journal
SyslogIdentifier=encryptd-ca-folder

[Install]
WantedBy=multi-user.target